SECRET_KEY=DJANGO_SECRET_KEY
PROJECT_NAME=TradePlatofrm

POSTGRES_NAME=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432

# celery
CELERY_BROKER=redis://redis:6379/0
CELERY_BACKEND=redis://redis:6379/0

# kafka
KAFKA_ADVERTISED_HOST_NAME='kafka'
KAFKA_CREATE_TOPICS="email:1:1"
KAFKA_ZOOKEEPER_CONNECT=zookeeper:2181
BOOTSTRAP_SERVER=10.1.0.111:9092
EMAIL_TOPIC=email

# temporary value for sending messages
TEST_EMAIL_ADDR=test_email@domen.com