[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djangorestframework-simplejwt = "*"
django-service-objects = "*"
django-celery-results = "*"
django-debug-toolbar = "*"
drf-yasg = "*"
psycopg2-binary = "*"
python-memcached = "*"
redis = "*"
celery = "*"
pytest = "*"
flake8 = "*"
mypy = "*"
pylint-django = "*"
kafka-python = "*"
django-cors-headers = "*"

[dev-packages]

[requires]
python_version = "3.8"
