[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
celery = "*"
pytest = "*"
djangorestframework-simplejwt = "*"
redis = "*"
flower = "*"

[dev-packages]

[requires]
python_version = "3.9"
