[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
python-memcached = "*"
celery = "*"
redis = "*"
pytest = "*"
django-service-objects = "*"
django-celery-results = "*"
django-debug-toolbar = "*"
django-rest-swagger = "*"
drf-yasg = "*"
pylint-django = "*"
flake8 = "*"
mypy = "*"

[dev-packages]

[requires]
python_version = "3.9"
