BOOTSTRAP_SERVER=10.1.0.111:9092
EMAIL_TOPIC=email

CELERY_BACKEND="redis://email_redis:6379/0"
CELERY_BROKER="redis://email_redis:6379/0"

#SMTP CONFIG FOR MAIL.RU
MAIL_FROM=name@mail.ru
MAIL_USERNAME=name@mail.ru
MAIL_PASSWORD=password
MAIL_SERVER=smtp.mail.ru
MAIL_PORT=465
