[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
kafka-python = "*"
redis = "*"
celery = "*"
secure-smtplib = "*"

[dev-packages]

[requires]
python_version = "3.8"
