<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign In</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div id="container">
        <div id="header">
            1
        </div>
        <div id = "main">

            <div id="content">
                <form method="POST" action="../register/">
                    {% csrf_token %}
                     <p>
                        <label>email</label><br>
                        <input type="email" name="email" />
                     </p>
                    <p>
                        <label>username</label><br>
                        <input type="text" name="username" />
                     </p>
                     <p>
                         <label>password</label><br>
                         <input type="password" name="password" />
                     </p>
                     <input type="submit" value="Sign up" >
                </form>
            </div>
        </div>

        <div id="footer">&copy; Pavel Homanau <a href="/">Back</a></div>
</body>
</html>